<%= flash[:error] %>

<div class="row">
  <% if @properties.empty? %>
    <div class="alert alert-danger" role="alert">
      Nenhum imóvel cadastrado
    </div>
  <% else %>
    <% @properties.each do |property| %>
      <div class="col-4">

        <%= render partial: '/shared/property_thumbnail', locals: {property: property}%>
      </div>
    <% end %>
  <% end %>

</div>
